# **Dictionary Assignments**
 **- By Tushti Gupta SODS**

*Sort Python Dictionaries by Key or Value.*

In [ ]:
student = {'name': 'Alice', 'age': 20, 'grade': 'A'}
print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}

In [ ]:
# Sorting acc. to keys
student.keys()

dict_keys(['name', 'age', 'grade'])

In [ ]:
# Sorting acc. to values
student.values()

dict_values(['Alice', 20, 'A'])

*Python dictionary with keys having multiple inputs*

In [ ]:
fruit_basket = {
    'apple': ['red', 'sweet', 'crunchy'],
    'banana': ['yellow', 'sweet', 'energizing'],
    'orange': ['orange', 'citrusy', 'juicy']
}
print(fruit_basket)

{'apple': ['red', 'sweet', 'crunchy'], 'banana': ['yellow', 'sweet', 'energizing'], 'orange': ['orange', 'citrusy', 'juicy']}

*Python program to find the sum of all items in a dictionary*

In [ ]:
dict={'a':10,'b':20,'c':30}
total=sum(dict.values())
print("Sum of all the items in dictionary is:-",total)

Sum of all the items in dictionary is:- 60

*Python program to find the size of a Dictionary*

In [ ]:
dict={'a':10,'b':20,'c':30,'d':40}
size=len(dict)
print("The size of the dictionary is:- ",size)

The size of the dictionary is:-  4

*Ways to sort list of dictionaries by values in Python – Using itemgetter*

In [ ]:
list_of_dicts = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 20},
    {'name': 'Charlie', 'age': 30}
]
from operator import itemgetter
sorted_list=sorted(list_of_dicts,key=itemgetter('age'))
print("sorted List",sorted_list)

sorted List [{'name': 'Bob', 'age': 20}, {'name': 'Alice', 'age': 25}, {'name': 'Charlie', 'age': 30}]

*Ways to sort list of dictionaries by values in Python – Using lambda function*

In [ ]:
list_of_dicts = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 20},
    {'name': 'Charlie', 'age': 30}
]
sorted_list=sorted(list_of_dicts,key=lambda x:x['age'])
print("Sorted List ",sorted_list)

Sorted List  [{'name': 'Bob', 'age': 20}, {'name': 'Alice', 'age': 25}, {'name': 'Charlie', 'age': 30}]

*Merging two Dictionaries*

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

# Using update() to merge dict2 into dict1
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 3, 'c': 4}

*Program to create grade calculator in Python*

In [ ]:
# Step 1: Create a dictionary with student names and scores
student_scores={
    "Alice":85,
    "Bob":92,
    "Charlie":76,
    "David":59,
    "Eve":68
}
# Step 2: Define a function to calculate grades based on score
def calculate_grade(score):
  if score>=90:
    return "A"
  elif score>=80:
    return "B"
  elif score>=70:
    return "C"
  elif score>=60:
    return "D"
  else:
    return "F"
# Step 3: Create a dictionary to store each student's grade
student_grades={}
# Step 4: Calculate grades for each student and store them in the dictionary
for student,score in student_scores.items():
  student_grades[student]=calculate_grade(score)
  student_grades[student] = calculate_grade(score)

# Step 5: Print the final grades
print("Student Grades:")
for student,grade in student_grades.items():
  print(f"{student}:{grade}")

Student Grades:
Alice:B
Bob:A
Charlie:C
David:F
Eve:D

*Insertion at the beginning in OrderedDict*

In [ ]:
from collections import OrderedDict

# Original OrderedDict
ordered_dict = OrderedDict([('b', 2), ('c', 3)])
print("Original OrderedDict:", ordered_dict)

# Insert item at the beginning
new_item = OrderedDict([('a', 1)])
ordered_dict = OrderedDict(list(new_item.items()) + list(ordered_dict.items()))

print("After insertion at the beginning:",ordered_dict)

Original OrderedDict: OrderedDict([('b', 2), ('c', 3)])
After insertion at the beginning: OrderedDict([('a', 1), ('b', 2), ('c', 3)])

*Find common elements in three sorted arrays by dictionary intersection*

In [ ]:
array1=[1,2,4,5,6]
array2=[2,4,6,8]
array3=[4,6,8,10]
# Step1- Convert each array into dicionaries
dict1=dict.fromkeys(array1)
dict2=dict.fromkeys(array2)
dict3=dict.fromkeys(array3)

# Step2- Find the intersection of keys
common_elements=dict1.keys() & dict2.keys() & dict3.keys()

# Convert the result to a list
common_elements=list(common_elements)
print("Common elements",common_elements)

Common elements [4, 6]

*Dictionary and counter in Python to find winner of election*

In [ ]:
from collections import Counter

# List of votes, where each element represents a vote for a candidate
votes = ["Alice", "Bob", "Alice", "Charlie", "Bob", "Alice", "Bob", "Bob"]

# Step 1: Use Counter to count votes for each candidate
vote_count = Counter(votes)

# Step 2: Find the candidate with the maximum votes
# This will return a list of (candidate, count) tuples
winner = max(vote_count.items(), key=lambda x: (x[1], x[0]))

# Print the winner
print("The winner is:",winner[0])

The winner is: Bob

*Key with maximum unique values*

In [ ]:
data = {
    'key1': [1, 2, 2, 3, 4],
    'key2': [2, 3, 3, 4],
    'key3': [4,5,6,6,7]
}
# Step 1: Calculate the number of unique values for each key
unique_counts = {key: len(set(values)) for key, values in data.items()}

# Step 2: Find the key with the maximum unique values
max_key = max(unique_counts, key=unique_counts.get)

print("Key with maximum unique values:",max_key)

Key with maximum unique values: key1

*Find all duplicate characters in string*

In [ ]:
from collections import Counter

# Input string
string = "programming"

# Step 1: Count each character's occurrences
char_count = Counter(string)

# Step 2: Find characters with count greater than 1
duplicates = [char for char, count in char_count.items() if count > 1]

print("Duplicate characters:",duplicates)

Duplicate characters: ['r', 'g', 'm']

*Group Similar items to Dictionary Values List*

In [ ]:
# Input list
words = ["apple", "apricot", "banana", "cherry", "blueberry", "avocado", "carrot"]

# Step 1: Initialize an empty dictionary for grouping
grouped_words = {}

# Step 2: Iterate through each word and group by first letter
for word in words:
    # Use the first letter of each word as the key
    key = word[0]

    # Add the word to the list of its corresponding key
    if key not in grouped_words:
        grouped_words[key] = []  # Initialize list if key is not present
    grouped_words[key].append(word)

# Print the grouped dictionary
print("Grouped words by first letter:",grouped_words)

Grouped words by first letter: {'a': ['apple', 'apricot', 'avocado'], 'b': ['banana', 'blueberry'], 'c': ['cherry', 'carrot']}

*Replace String by Kth Dictionary value*

In [ ]:
data = {1: "apple", 2: "banana", 3: "cherry", 4: "date", 5: "elderberry"}

# String to replace
original_string = "fruit"

# Define the position k
k = 3  # For example, we want the 3rd value

# Step 1: Get the k-th dictionary value
# Check if k is within the dictionary's range
if 1 <= k <= len(data):
    replacement_value = list(data.values())[k - 1]

    # Step 2: Replace the string
    new_string = replacement_value
else:
    new_string = original_string  # If k is out of range, keep the original string

print("Replaced string:",new_string)

Replaced string: cherry

*Ways to remove a key from dictionary*

In [ ]:
# Using del method
data = {"a": 1, "b": 2, "c": 3}
del data["b"]
print(data)

{'a': 1, 'c': 3}

In [ ]:
# Using pop() method
data = {"a": 1, "b": 2, "c": 3}
value = data.pop("b", None)  # Removes "b" and returns its value
print(data)
print(value)

{'a': 1, 'c': 3}
2

In [ ]:
# Using  popitem() method
data = {"a": 1, "b": 2, "c": 3}
key, value = data.popitem()
print(data)
print(key, value)

{'a': 1, 'b': 2}
c 3

*Replace words from Dictionary*

In [ ]:
text = "Hello world, welcome to the universe"
replacements = {"world": "Earth", "universe": "cosmos"}

# Replace each word in the dictionary
for old_word, new_word in replacements.items():
    text = text.replace(old_word, new_word)

print(text)

Hello Earth, welcome to the cosmos

*Remove Dictionary Key Words*

In [ ]:
 data = {"name": "Alice", "age": 25, "city": "New York"}
del data["age"]
print(data)

{'name': 'Alice', 'city': 'New York'}

*Remove duplicate values across Dictionary Values*

In [ ]:
data = {
    "a": [1, 2, 2, 3],
    "b": [3, 4, 4, 5],
    "c": [6, 6, 7]
}

# Remove duplicates from each list (preserve order)
for key, value in data.items():
    data[key] = list(dict.fromkeys(value))

print(data)

{'a': [1, 2, 3], 'b': [3, 4, 5], 'c': [6, 7]}

*Dictionary to find mirror characters in a string*

In [ ]:
text = "abccba"

# Dictionary to store mirror characters
mirror_dict = {}

# Iterate through the string up to the middle point
for i in range(len(text)//2):
    left_char = text[i]
    right_char = text[len(text)-i-1]

    # Add the pair to the dictionary
    mirror_dict[left_char] = right_char
    mirror_dict[right_char] = left_char

# Print the dictionary of mirror characters
print(mirror_dict)

{'a': 'a', 'b': 'b', 'c': 'c'}

*Counting the frequencies in a list using dictionary in Python*

In [ ]:
data = ["apple", "banana", "apple", "orange", "banana", "apple", "orange"]

# Dictionary to store frequencies
frequency_dict = {}

# Iterate through the list and count frequencies
for item in data:
    if item in frequency_dict:
        frequency_dict[item] += 1  # Increment frequency by 1
    else:
        frequency_dict[item] = 1  # Initialize frequency to 1

# Print the frequency dictionary
print(frequency_dict)

{'apple': 3, 'banana': 2, 'orange': 2}

*Dictionary Values Mean*

In [ ]:
# Accessing Dictionary Values
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

# Accessing the value for key "name"
print(my_dict["name"])

Alice

In [ ]:
# Using .values() method
values=my_dict.values()
print(values)

dict_values(['Alice', 25, 'New York'])

In [ ]:
# Modifying Dictionary values
my_dict["age"] = 26

print(my_dict)

{'name': 'Alice', 'age': 26, 'city': 'New York'}

In [ ]:
# Examples with Different types of values
my_dict = {
    "name": "Alice",
    "age": 25,
    "is_student": True,
    "courses": ["Math", "Science"],
    "address": {"city": "New York", "zip": "10001"}
}

# Accessing different types of values
print(my_dict["name"])
print(my_dict["age"])
print(my_dict["is_student"])
print(my_dict["courses"])
print(my_dict["address"])

Alice
25
True
['Math', 'Science']
{'city': 'New York', 'zip': '10001'}

*Maximum record value key in dictionary*

In [ ]:
my_dict = {
    "apple": 5,
    "banana": 10,
    "orange": 7,
    "grapes": 3
}

# Find the key with the maximum value
max_key = max(my_dict, key=my_dict.get)

print("Key with maximum value:",max_key)

Key with maximum value: banana

*Extract values of Particular Key in Nested Values*

In [ ]:
nested_dict = {
    "student1": {"name": "Alice", "age": 20},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}
print(nested_dict)

{'student1': {'name': 'Alice', 'age': 20}, 'student2': {'name': 'Bob', 'age': 22}, 'student3': {'name': 'Charlie', 'age': 23}}

In [ ]:
# Accessing Elements
print(nested_dict['student2'])

{'name': 'Bob', 'age': 22}

In [ ]:
print(nested_dict['student1'])

{'name': 'Alice', 'age': 20}

In [ ]:
print(nested_dict['student3'])

{'name': 'Charlie', 'age': 23}

In [ ]:
# Accesing elements from particular key
print(nested_dict['student2']['name'])

Bob

In [ ]:
print(nested_dict['student1']['age'])

20

In [ ]:
print(nested_dict['student3']['name'])

Charlie