In [ ]:
#Set()
#Sets items are unchangeable,unordered and unindexed. You can remove or add new items.

In [ ]:
set={'apple','banana','cherry',False ,2,0,3}
print(set)

{False, 2, 3, 'banana', 'cherry', 'apple'}

In [ ]:
set={'apple','banana','cherry'}
print('banana' in set)

True

In [ ]:
set={'apple','banana','cherry'}
print('orange' in set)

False

In [ ]:
set={'apple','banana','cherry'}
print('orange'  not in set)

True

In [ ]:
 set={'apple','banana','cherry'}
 set.add('orange')
 print(set)

{'apple', 'orange', 'banana', 'cherry'}

In [ ]:
set={'apple','banana','cherry'}
tropical={'pineapple','mango','papaya'}
set.update(tropical)
print(set)

{'papaya', 'banana', 'cherry', 'mango', 'apple', 'pineapple'}

In [ ]:
set={'apple','banana','cherry'}
tropical=['kiwi','orange']
set.update(tropical)
print(set)

{'banana', 'cherry', 'apple', 'kiwi', 'orange'}

In [ ]:
set={'apple','banana','cherry'}
set.remove('banana')
print(set)

{'apple', 'cherry'}

In [ ]:
set={'apple','banana','cherry'}
set.discard('banana')
print(set)

{'apple', 'cherry'}

In [ ]:
set={'apple','banana','cherry'}
set.remove('orange')
print(set)

KeyError: 'orange'

In [ ]:
set={'apple','banana','cherry'}
set.discard('orange')
print(set)

{'apple', 'banana', 'cherry'}

In [ ]:
set={'apple','banana','cherry'}
x=set.pop()
print(x)
print(set)

apple
{'banana', 'cherry'}

In [ ]:
set={'apple','banana','cherry'}
x=set.clear()
print(x)

None

In [ ]:
set={'apple','banana','cherry'}
del set
print(set)

<class 'set'>

In [ ]:
#Joining Sets

In [ ]:
#Union()
set1={"X","Y","Z"}
set2={6,7,8}
set3=set1.union(set2)
print(set3)

{'X', 6, 7, 8, 'Y', 'Z'}

In [ ]:
#| Operator
set1={"X","Y","Z"}
set2={6,7,8}
set3=set1|set2
print(set3)

{'X', 6, 7, 8, 'Y', 'Z'}

In [ ]:
#Joining Multiple Sets
set1={"X","Y","Z"}
set2={6,7,8}
set3={"Motu",'patlu'}
set4={'King','Kong'}
largestset=set1.union(set2,set3,set4)
print(largestset)

{'patlu', 'Motu', 'Kong', 6, 7, 8, 'Y', 'Z', 'X', 'King'}

In [ ]:
set1={"X","Y","Z"}
set2={6,7,8}
set3={"Motu",'patlu'}
set4={'King','Kong'}
largestset=set1|set2|set3|set4
print(largestset)

{'patlu', 'Motu', 'Kong', 6, 7, 8, 'Y', 'Z', 'X', 'King'}

In [ ]:
#Update ()
set1={"X","Y","Z"}
set2={6,7,8}
set1.update(set2)
print(set1)

{'X', 6, 7, 8, 'Y', 'Z'}

In [ ]:
#Intersection Method (Common)
set1={"X","Y","Z"}
set2={6,7,8}
set3=set1.intersection(set2)
print(set3)

set()

In [ ]:
# & OPerator (Common)
set1={"X","Y","Z"}
set2={6,7,8,'X'}
set3=set1 & set2
print(set3)

{'X'}

In [ ]:
#Difference Method
set1={"X","Y","Z"}
set2={6,7,8,'X'}
set3=set1.difference(set2)
print(set3)

{'Y', 'Z'}

In [ ]:
set1={"X","Y","Z"}
set2={6,7,8,'X'}
set3=set2.difference(set1)
print(set3)

{8, 6, 7}