In [ ]:
#1st. program to Find the size of a Tuple

# **Tuple Assignment**
 **-By Tushti Gupta SODS**

In [ ]:
#1st answer
x=(2,2,312,323,"aman","sunil",4324)
print(len(x))

7

In [ ]:
#2nd. Maximum and Minimum K elements in Tuple

In [ ]:
#2nd answer
x=(2,2,312,323,1,34441,4324)
print("maximum",max(x))
print("minimum ",min(x))

maximum 34441
minimum  1

In [ ]:
#3rd. Create a list of tuples from given list having number and its cube in each tuple

In [ ]:
#3rd answer
x=[21,2,32,32,1,31,44]
y=[]
for i in x:
    z= ("cube of number",i,'is', i**3)
    i+=1
    y.append(z)
print(y)

[('cube of number', 21, 'is', 9261), ('cube of number', 2, 'is', 8), ('cube of number', 32, 'is', 32768), ('cube of number', 32, 'is', 32768), ('cube of number', 1, 'is', 1), ('cube of number', 31, 'is', 29791), ('cube of number', 44, 'is', 85184)]

In [ ]:
#4th.  Adding Tuple to List and vice â€“ versa

In [ ]:
#4th answer
x=(21,(2,32),32,(1,31,44))
y=[3243]
y.append(x)
print(y)
z=tuple(y)
print(z)

[3243, (21, (2, 32), 32, (1, 31, 44))]
(3243, (21, (2, 32), 32, (1, 31, 44)))

In [ ]:
#5th.  Sum of tuple elements

In [ ]:
#5th answer
x=(21,2,32,32,1,31,44)
y=0
for i in x:
    y+=i
print(y)

163

In [ ]:
#6th. Modulo of tuple elements

In [ ]:
#6thh answer
x=(21,2,32,32,1,31,44)
x=list(x)
y=(10,2,8,7,1,15,5)
y=list(y)
z=[]
for i in range(len(x)):
    z.append(x[i]%y[i])
z=tuple(z)
print(z)

(1, 0, 0, 4, 0, 1, 4)

In [ ]:
#7th. Row-wise element Addition in Tuple Matrix

In [ ]:
#8th. Update each element in tuple list

In [ ]:
#8th answer
x=((33,34,2),(21,34,4))
y=[]
for i in x:
    z=list(i)
    z[1]=4
    z=tuple(z)
    y.append(z)
print("old list",x)
print("updated list",y)

old list ((33, 34, 2), (21, 34, 4))
updated list [(33, 4, 2), (21, 4, 4)]

In [ ]:
#9th. Multiply Adjacent elements

In [ ]:
#9th answer
x=(21,2,32,32,1,31,44)
x=list(x)
z=[]
for i in range(len(x)-1):
    z.append(x[i]*x[i+1])
z=tuple(z)
print(z)

(42, 64, 1024, 32, 31, 1364)

In [ ]:
#10th. Join Tuples if similar initial element

In [ ]:
#10th answer
x= ((5, 6), (5, 7), (6, 8), (6, 10), (7, 13))
y = []
z = []
for i in x:
    i=list(i)
    if i[0] not in z:
        z.append(i[0])
for i in z:
    p = []
    p.append(i)
    for j in x:
        if i == j[0]:
            p.append(j[1])
            k=tuple(p)
    y.append(k)
print(y)

[(5, 6, 7), (6, 8, 10), (7, 13)]

In [ ]:
#11th. All pair combinations of 2 tuples

In [ ]:
#11th answer
x1 = (4, 5)
x2 = (7, 8)
y =  [(a, b) for a in x1 for b in x2]
y =y +  [(a, b) for a in x2 for b in x1]
y=tuple(y)
print("All pairs are :",y)

All pairs are : ((4, 7), (4, 8), (5, 7), (5, 8), (7, 4), (7, 5), (8, 4), (8, 5))

In [ ]:
#12th. Remove Tuples of Length K

In [ ]:
#12th answer
x = ((42, 35), (41,5445 ), (83,), (1, ), (3432,344,436, 327))
K = 1
y = [i for i in x if len(i) != K]
y=tuple(y)
print("Filtered list : ", y)

Filtered list :  ((42, 35), (41, 5445), (3432, 344, 436, 327))

In [ ]:
#13th. Remove Tuples from the List having every element as None

In [ ]:
#13th answer
x=((12,1323),("None",),(211,455))
y=[]
for i in range(len(x)):
    if "None" not in x[i]:
     y.append(x[i])
print(y)

[(12, 1323), (211, 455)]

In [ ]:
#14th. Sort a list of tuples by second Item

In [ ]:
#14th answer
x= [(3, 6),(1, 9),(2, 4),(4, 7)]
x[(0)],x[(1)],x[2],x[-1]=x[(1)],x[(0)],x[-1],x[2]
print(x)

[(1, 9), (3, 6), (4, 7), (2, 4)]

In [ ]:
#15th. Sort Tuples by Total digits

In [ ]:
#15th answer
x=(12,23,24,34,33,312,4,3,34,43)
x=list(x)
x.sort()
x=tuple(x)
print(x)

(3, 4, 12, 23, 24, 33, 34, 34, 43, 312)

In [ ]:
#16th.  Elements frequency in Tuple

In [ ]:
#16th answer
z = (4, 5, 4, 5, 6, 6, 5, 5, 4)
res = dict()
x=list(z)
y=[]
for i in x:
    if i not in y:
        y.append(i)
for i in y:
    res[i]=x.count(i)
print(res)

{4: 3, 5: 4, 6: 2}

In [ ]:
#17th. Filter Range Length Tuples

In [ ]:
#17th answer
x = [(4, ), (5, 6), (2, 3, 5), (5, 6, 8, 2), (5, 9)]
a,b = 2, 3
y = [sub for sub in x if len(sub) >= a and len(sub) <= b]
print(y)

[(5, 6), (2, 3, 5), (5, 9)]

In [ ]:
#18th.  Assign Frequency to Tuples

In [ ]:
#19th. Records with Value at K index

In [ ]:
#19th answer
x = [(3, 1, 5), (1, 3, 6), (2, 5, 7), (5, 2, 8), (6, 3, 0)]
ele = 3
z = []
for a,b,c in x:
    if b == ele:
        z.append((a,b,c))
print(z)

[(1, 3, 6), (6, 3, 0)]

In [ ]:
#20th. Test if tuple is distinct

In [ ]:
#20th answer
x = (1, 43,1,34)
y = True
z = set()
for i in x:
    if i in z:
        y = False
    z.add(i)
print(y)

False

In [ ]:
#21st. program to find tuples which have all elements divisible by K from a list of tuples

In [ ]:
#21st answer
x = [(6, 24, 12), (7, 9, 6), (12, 18, 21)]
y = 6
z = []
for i in x:
    c=0
    for j in i:
        if(j%y==0):
            c+=1
    if(c==len(i)):
        z.append(i)
print(z)

[(6, 24, 12)]

In [ ]:
#22nd. program to find Tuples with positive elements in List of tuples

In [ ]:
#22nd answer
x = [(4, 5, 9), (-3, 2, 3), (-3, 5, 6), (4, 6)]
z = []
for i in x:
    positive = True
    for ele in i:
        if ele < 0:
            positive = False
    if positive:
        z.append(tup)
print(z)

[(4, 6), (4, 6)]

In [ ]:
#23rd. Count tuples occurrence in list of tuples

In [ ]:
#23rd answer
x = [('hi', 'bye'),('you', 'us'),('a', 'b'),('hi', 'bye'),('a', 'b')]
y=dict()
for i in x:
  if i not in y:
    y[i]=1
print(y)

{('hi', 'bye'): 1, ('you', 'us'): 1, ('a', 'b'): 1}

In [ ]:
#24th.  Remove duplicate lists in tuples

In [ ]:
#24th answer
x= ([4, 7, 8], [1, 2, 3], [4, 7, 8], [9, 10, 11], [1, 2, 3])
y = []
for i in x:
    if i not in y:
        y.append(i)
print(y)

[[4, 7, 8], [1, 2, 3], [9, 10, 11]]

In [ ]:
#25th. Extract digits from Tuple list

In [ ]:
#25th answer
x = [(15, 3), (3, 9), (1, 10), (99, 2)]
y = ''.join([str(i) for a in x for i in a])
z = set(y)
z = [int(i) for i in z]
print(z)

[2, 1, 0, 3, 9, 5]

In [ ]:
#26th. Cross Pairing in Tuple List

In [ ]:
#26th answer
x = [(1, 7), (6, 7), (9, 100), (4, 21)]
y = [(1, 3), (2, 1), (9, 7), (4, 17)]
z = [(a[1], b[1]) for b in y for a in x if a[0] == b[0]]
print(z)

[(7, 3), (100, 7), (21, 17)]

In [ ]:
#27th. Consecutive Kth column Difference in Tuple List

In [ ]:
#27th answer
x = [(5, 4, 2), (1, 3, 4), (5, 7, 8), (7, 4, 3)]
y = 1
z = []
for i in range(0, len(x) - 1):
    z.append(abs(x[i][y] - x[i + 1][y]))
print(z)

[1, 4, 3]

In [ ]:
#28th.  Kth Column Product in Tuple List

In [ ]:
#28th answer
x = [(5, 6, 7), (1, 3, 5), (8, 9, 19)]
y = 1
for tup in x:
    y*= tup[1]
print("Product" ,y)

Product 162

In [ ]:
#29th. Flatten tuple of List to tuple

In [ ]:
#29th answer
x = ([5, 6], [6, 7, 8, 9], [3])
z = tuple(sum(x, []))
print("tuple ", z)

tuple  (5, 6, 6, 7, 8, 9, 3)

In [ ]:
#30th. Program to sort a list of tuples alphabetically

In [ ]:
#30th answer

In [ ]:
#31st. Combinations of sum with tuples in tuple list

In [ ]:
#31st answer
x = [(2, 4), (6, 7), (5, 1), (6, 10)]
y = []
for i in range(len(x)):
    for j in range(i+1, len(x)):
        y.append((x[i][0]+x[j][0],
                    x[i][1]+x[j][1]))
print("combinations" ,y)

combinations [(8, 11), (7, 5), (8, 14), (11, 8), (12, 17), (11, 11)]

In [ ]:
#32nd. Custom sorting in list of tuples

In [ ]:
#32nd answer