In [ ]:
#Changes in Tuple

In [ ]:
x=("A","B","C")
print(type(x))

<class 'tuple'>

In [ ]:
y=list(x)
print(y)
print(type(y))

['A', 'B', 'C']
<class 'list'>

In [ ]:
y[2]="Z"
print(y)

['A', 'B', 'Z']

In [ ]:
y=tuple(x)
print(y)
print(type(y))

('A', 'B', 'C')
<class 'tuple'>

In [ ]:
y=(1,2,3,4,5)
print(type(y))

<class 'tuple'>

In [ ]:
z=list(y)
print(z)
print(type(z))

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
z[3]=10
print(z)

[1, 2, 3, 10, 5]

In [ ]:
y=tuple(z)
print(y)
print(type(y))

(1, 2, 3, 10, 5)
<class 'tuple'>

In [ ]:
t1=("apple","banana","cherry")
y=list(t1)
y.append("orage")
t1=tuple(y)
print(t1)
print(type(t1))

('apple', 'banana', 'cherry', 'orage')
<class 'tuple'>

In [ ]:
#Adding tuple To tuple
t3=(1,2,3)
t4=(5,)

In [ ]:
t5=t3+t4
print(t5)

(1, 2, 3, 5)

In [ ]:
t2=("apple","banana","cherry")
y=list(t2)
y.remove("apple")
t2=tuple(y)
print(t2)
print(type(t2))

('banana', 'cherry')
<class 'tuple'>

In [ ]:
t2=("apple","banana","cherry")
del t2
print(t2)

NameError: name 't2' is not defined

In [ ]:
#Muliplying Tuples:

In [ ]:
fruits=("apple","banana","cherry")
t1=fruits*2
print(t1)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
#Count() Function in tuple

In [ ]:
t2=[1,2,3,4,5,6,6,7,8,9,6]
x=t2.count(6)
print(x)

3

In [ ]:
x=t2.index(6)
print(x)

5

In [ ]:
x=t2.index(5)
print(x)

4